---
layout: base
---
.panel.panel-default
  .panel-heading
    %h4 Last Talks
  .panel-body
    %ul.list-unstyled
      - for event in site.talks
        - if event.date >= Date.today - 365
          %li(style="margin-bottom: 10px;")
            .title
              %a{:href => event.url}
                - if !event.title.empty?
                  #{event.title} (#{event.eventOrganization})
                - else
                  #{event.eventOrganization}
            %div
              #{event.location}
            %div
              #{event.date.strftime('%a %-d %B %Y')}
            - if !event.presenters.empty?
              .small
                by #{event.presenters}
    .small.pull-right
      %a{:href => "archive/talks.html"}
        (see all)
