---
title: Talks archive
description: A list of all my past talks.
layout: base
priority: 0.1
---
%h1 #{page.title}
%ul
  - for event in site.talks
    %li(style="margin-top: 10px;")
      %a{:href => event.url}
        - if !event.title.empty?
          #{event.title} (#{event.eventOrganization})
        - else
          #{event.eventOrganization}
      %div
        %span.small
          #{event.location} - #{event.date.strftime('%a %-d %B %Y')}
